:root {
    --main-text-color: #2E2F42;
    --second-text-color: #434455;
    --main-title-color: #FFFFFF;
    --main-title-bg-color: #2E2F42;
    --white: #FFFFFF;
    --second-bg-color: #F4F4FD;
    --button-bg-color: #F4F4FD;
    --second-btn-color: #4D5AE5;
    --button-hover: #404BBF;
    --footer-hover-color: #31d0aa;
    --footer-text: #E7E9FC;
    --footer-span-color: #F4F4FD;
    --border-color: #e7e9fc;
    --button-shadow: rgba(0, 0, 0, 0.15);
    --about-icon: #F4F4FD;
    --light-border: #8e8f99;
}

/*-----------------------------------------------------*/

body {
    background-color: var(--white);
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--button-hover);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/*-----------------------------------------------------*/

.btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button {
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--button-shadow);
    background-color: var(--second-btn-color);
    color: var(--white);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:is(:hover, :focus) {
    background-color: var(--button-hover);
}

.header {

    border-bottom: 1px solid #E7E9FC;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 767px;
}

.logo {
    display: block;
    font-weight: 800;
    font-family: "Raleway";
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 1.17;
    color: var(--main-title-bg-color);
}

.accent {
    color: var(--second-btn-color);
}

.js-open-menu {
    display: block;
    width: 32px;
    height: 22px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #2e2f42;
}

.menu-icon {
    display: block;
    stroke: currentColor;
}

.js-menu-container {
    display: none;
}

.js-menu-container.is-open {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--white);
    z-index: 2;
    overflow-y: auto;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.js-menu-container>.btn-close {
    position: fixed;
    top: 40px;
    right: 40px;
}

.header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.header-item {
    max-height: 40px;
}

.header-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: var(--main-text-color);
}

.header-link.current {
    color: var(--button-hover);
}

.contacts {
    color: var(--button-hover);
}

.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
    }

.header-tel {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--second-btn-color);
}

.header-email {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-soc-list {
    display: flex;
    gap: 56px;
    width: 328px;
    margin: 0 auto;
}

.header-soc-item {
    flex-basis: calc((100% - 120px) / 4);
    height: 40px;
}

.header-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--second-btn-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slogan-media-link:is(:hover, :focus) {
    background-color: var(--footer-hover-color);
}


@media screen and (min-width: 768px) {
    .js-open-menu {
        display: none;
    }


.nav {
    min-width: 768px;
    max-width: 1199px;
    justify-content: unset;
    gap: 120px;
}

.js-menu-container {
    display: flex;
}

.btn-close.js-close-menu {
    display: none;
}

.close-icon {
        display: none;
    }

.header-list {
    flex-direction: row;
    margin: 0;
}

.header-item {
    max-height: none;
}

.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
        font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-link.current {
    position: relative;
    color: var(--button-hover);
}


.header-link.current::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: currentColor;
    border-radius: 2px;
}

.header-address-list {
    position: absolute;
    top: 24px;
    right: 16px;
    gap: 4px;
    margin-bottom: 0;
}

 .header-address-list>.header-address-item {
     height: 16px;
 }
.header-tel {
    display: block;
    height: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
}

.header-email {
    display: block;
    height: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.header-soc-list {
    display: none;
}
}

@media screen and (min-width: 1200px) {
    .nav {
        gap: 76px;
        justify-content: center;
    }

.header-link {
padding-bottom: 28px;
}

.header-logo {
    padding-bottom: 28px;
}

.mobile-nav {
    flex-direction: row;
    gap: 332px;
    align-items: center;
}

.header-address-list {
    position: static;
    height: 24px;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.header-address-list>.header-address-item {
    height: 100%;
}

.header-tel {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-email {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
}

.title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: (--main-title-bg-color);
}



.hero {
padding-top: 112px;
    padding-bottom: 89px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
    url("../images/hero-back-1.jpg");
    background-color: var(--main-text-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-back-2x.jpg");
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white);
    margin: 0 auto 72px;
    height: 80px;
    max-width: 319px;
}

@media screen and (min-width: 481px) {
    .hero {
        padding-bottom: 108px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-back-3.jpg");
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url("../images/hero-back-4.jpg");
            }
        }
.hero-title {
    width: 319px;
    font-size: 36px;
    line-height: 1.07;
    margin: 0 auto 40px;
}
}

@media screen and (min-width: 769px) {
    .hero {
        padding-top: 187px;
        padding-bottom: 188px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-back-desk-5.jpg");
        background-color: var(--hero-bg-color);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero-back-desk-6.jpg");
        }
    }

    .hero-title {
        max-width: none;
        width: 496px;
        height: 120px;
        font-size: 56px;
        margin-bottom: 48px;
    }
}

.about-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

.about-icon {
    display: none;
}

.about-pre-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.about-text {
font-weight: 500;
letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .about-list {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    .about-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .about-pre-title {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .about-list {
        flex-wrap: nowrap;
    }

    .about-item {
        flex-basis: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }

    .about-pre-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .about-icon {
        display: block;
        padding: 24px 100px;
        margin-bottom: 8px;
        background-color: var(--character-icon-bg);
        border-radius: 4px;
    }
}



.gallery {
    display: none;
}

.about-title {
    display: flex;
    gap: 24px;
}

.about-title-item {
flex-basis: calc(((100% - 48px) / 3));
}

@media screen and (min-width: 1200px) {
    .gallery {
        display: block;
        padding-bottom: 120px;
    }
}


.team {
    background-color: var(--second-bg-color);
    padding-bottom: 128px;
}

.about-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    width: 264px;
    margin: 0 auto;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-wrap {
    padding: 32px 14px;
    text-align: center;
    background-color: var(--white);
} 

.team-text {
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    gap: 24px;
}

.team-soc-item {
    flex-basis: calc((100% - 72px) / 4);
    height: 40px;

}

.team-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--second-btn-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--button-hover);
}

@media screen and (min-width: 768px) {
    .team {
        padding-bottom: 104px;
    }

    .about-team {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-item {
        margin: 0;
    }

    .team-item-wrap {
        padding: 32px 16px;
    }
}

@media screen and (min-width: 1200px) {
    .team {
        padding-bottom: 120px;
    }
}



.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-item {
    width: 190px;
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-border);
    border-radius: 4px;
    color: varvar(--light-border);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--button-hover);
    border-color: var(--button-hover);
}

.customers-logo {
    fill: currentColor;
}

@media screen and (min-width: 768px) {
    .customers-list {
        justify-content: center;
        column-gap: 24px;
    }

    .customers-item {
        width: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        column-gap: 24px;
    }

    .customers-item {
        flex-basis: calc((100% - 120px) / 6);
    }
}


.slogan {
    background-color: var(--main-title-bg-color);
}

.slogan-div {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
        
}

.slogan-logo {
    color: var(--white);
    display: block;
    margin-bottom: 16px;
}

.slogan-text {
    width: 268px;
    letter-spacing: 0.02em;
    color: var(--footer-text);
}

.slogan-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.slogan-media {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--white);
}

.slogan-media-list {
    display: flex;
    gap: 16px;
    width: 208px;
}

.slogan-media-item {
    flex-basis: calc((100% - 48px) / 4);
    height: 40px;
}

.slogan-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.slogan-media-link:hover,
.slogan-media-link:focus {
    background-color: var(--footer-hover-color);
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.subscribe-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 40px;
    width: 100%;
}

.footer-label {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .footer-label {
        width: 264px;
    }
}

.footer-input {
    height: 40px;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus-within {
    border: 1px solid var(--second-btn-color);
    outline: none;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 165px;
    padding: 8px 24px;
    color: var(--white);
    background: var(--second-btn-color);
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
    background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
    .slogan {
        padding-left: 93px;
    }

    .slogan-div {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 24px;
        row-gap: 0;
    }

    .slogan-back {
        align-items: flex-start;
        margin-bottom: 72px;
    }

    .slogan-social {
        align-items: flex-start;
    }

    .footer-subscribe {
        align-items: flex-start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }
}

@media screen and (min-width: 1200px) {
    .slogan {
        padding-left: 0;
    }

    .slogan-back {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-wrap {
        margin-bottom: 0;
    }

    .slogan-social {
        margin-left: 80px;
        margin-right: 120px;
    }
}

/*-----------------------------------------------------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 392px;
    width: calc(100% - 36px);
    height: 584px;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal-window {
        width: 408px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.btn-close {
    margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 24px;
        height: 24px;
    
        border-radius: 50%;
    
        background: var(--border-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
    
        color: #000000;
        cursor: pointer;
    
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.btn-close:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--button-hover);
    border: transparent;
}

.close-icon {
    fill: currentColor;
    display: block;
}

.modal-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.modal-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;

    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--light-border);
}

.modal-label:nth-child(4) {
    margin-bottom: 16px;
}

.modal-label:nth-child(5) {
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin-bottom: 24px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-wrap {
    position: relative;
}
